
.post {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  font-weight: 200;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.header_title {
  font-weight: 200;
  margin: 0;
}

.header_date {
  font-weight: 200;
  color: #7b7b7b;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #777;
}

.footer ul {
  list-style: none;
  margin-left: 0;
}

.back_link {
  margin-bottom: 10px;
}

.player {
  width: 100%;
  background: #fafafa;
}

.player_audio {
  width: 100%;
}

.player_controls {
  display: flex;
  padding: 0 10px 5px;
  flex-wrap: wrap;
}

.player_controls_actions_panel {
  display: flex;
  margin-right: auto;
}

.player_controls_panel {
  border-top: 1px solid #ccc;
  margin: 10px 5px 6px;
  padding-top: 8px;
  width: 100%;
}

.player_button {
  color: #555;
  background: transparent;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

.player_button:hover {
  color: #000;
}

.player_actions_dots {
  width: 10px;
  height: 10px;
  margin-right: 4px;
  fill: #555;
}

.player_actions {
  composes: player_button;
  display: flex;
  align-items: center;
}

.player_actions:hover .player_actions_dots {
  fill: #000;
}

.player_speed {
  display: flex;
  margin-left: auto;
}

.player_speed_item {
  composes: player_button;
}

.player_speed_item + .player_speed_item {
  margin-left: 5px;
}
